.Navbar {
    background-color: #f1ca8f;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px #e6ba79;
}

.nav-items a {
    margin: 1.1rem 0 0 rem;
    padding: 0 2rem;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px grey;
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    opacity: 0.9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-items li {
    list-style: none;
    margin: 2rem;
    padding: 2rem 0 2rem 17.8rem;
    white-space: nowrap;
    text-align: center;
}

.nav-items a:hover {
    color: #dd9a36;
}

.Brand {
    color: #dd9a36;
    text-shadow: 1px 1px black;
    padding-bottom: 0.4rem;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    margin: 2rem;
    height: 6rem;
    width: 6rem;
    align-items: center;
    box-shadow: 2px 2px #e6ba79;
}